@import url("./common.css");

/*------------------- 4.8. Hero Area  -------------------*/
/* Hero Global ---------------------------------- */
.th-hero-wrapper {
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.th-hero-bg {
	position: absolute;
	inset: 0;
}

.th-hero-bg img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Hero 1 ---------------------------------- */
.hero-title {
	font-size: 100px;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 26px;
	margin-top: -0.2em;
}

.hero-title .title1,
.hero-title .title2 {
	display: block;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	position: relative;
}

.hero-1 {
	margin-top: -8px;
}

.hero-1 .hero-img {
	position: absolute;
	top: 10%;
	right: 7%;
	/* Extra large devices */
	/* Medium Large devices */
	/* Large devices */
}

@media (max-width: 1500px) {
	.hero-1 .hero-img {
		right: 1%;
	}
}

@media (max-width: 1299px) {
	.hero-1 .hero-img {
		max-width: 540px;
		top: 15%;
	}
}

@media (max-width: 1199px) {
	.hero-1 .hero-img {
		max-width: 480px;
		top: 15%;
	}
}

.hero-1 .hero-shape4 {
	bottom: 0;
	left: 0;
}

.hero-1:hover path {
	-webkit-animation: fillAni 14s ease-in-out;
	animation: fillAni 14s ease-in-out;
}

.hero-1,
.hero-2 {
	overflow: hidden;
}

.hero-1 .hero-shape1,
.hero-1 .hero-shape2,
.hero-1 .hero-shape3,
.hero-1 .hero-shape4,
.hero-2 .hero-shape1,
.hero-2 .hero-shape2,
.hero-2 .hero-shape3,
.hero-2 .hero-shape4 {
	position: absolute;
	z-index: 0;
}

.hero-1 .hero-shape1,
.hero-2 .hero-shape1 {
	left: 42%;
	bottom: 12%;
}

.hero-1 .hero-shape2,
.hero-2 .hero-shape2 {
	left: 40%;
	top: 10%;
}

.hero-1 .hero-shape3,
.hero-2 .hero-shape3 {
	left: 7%;
	top: 20%;
	/* Extra large devices */
}

@media (max-width: 1500px) {
	.hero-1 .hero-shape3,
	.hero-2 .hero-shape3 {
		left: 2%;
		top: 8%;
	}
}

.svg-img path {
	fill-opacity: 1;
	stroke: var(--theme-color);
	fill: #cee3c6;
	stroke-width: 1;
	stroke-dasharray: 5000;
	stroke-dashoffset: 5000;
}

@-webkit-keyframes fillAni {
	0% {
		stroke-dashoffset: 5000;
		fill: transparent;
		opacity: 0.15;
	}
	99% {
		opacity: 0.2;
	}
	100% {
		stroke-dashoffset: 0;
		stroke-width: 1;
		fill: #cee3c6;
		opacity: 1;
	}
}

@keyframes fillAni {
	0% {
		stroke-dashoffset: 5000;
		fill: transparent;
		opacity: 0.15;
	}
	99% {
		opacity: 0.2;
	}
	100% {
		stroke-dashoffset: 0;
		stroke-width: 1;
		fill: #cee3c6;
		opacity: 1;
	}
}

.hero-style1 {
	position: relative;
	z-index: 6;
	padding: 205px 0;
}

.hero-style1 .sub-title {
	margin-bottom: 25px;
}

.hero-style1 .title-img {
	position: absolute;
	bottom: 85%;
	right: 6%;
}

@media (max-width: 1400px) {
	.hero-title {
		font-size: 86px;
	}
}

/* Large devices */
@media (max-width: 1199px) {
	.hero-title {
		font-size: 70px;
	}
	.hero-style1 {
		padding: 150px 0;
	}
	.hero-style1 .title-img {
		right: 3%;
	}
	.hero-1 .hero-shape4 {
		opacity: 0.4;
	}
}

/* Medium devices */
@media (max-width: 991px) {
	.hero-1 .hero-img {
		position: static;
		max-width: 100%;
		text-align: center;
		margin: 0 auto 50px auto;
	}
	.hero-1 .hero-shape2 {
		display: none;
	}
	.hero-title {
		font-size: 60px;
		line-height: 1.2;
	}
	.hero-style1 {
		padding: 110px 0 40px 0;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.hero-style1 .title1,
	.hero-style1 .title2 {
		margin-left: auto;
		margin-right: auto;
	}
	.hero-style1 .title-img {
		max-width: 40px;
		right: 5%;
	}
}

/* Small devices */
@media (max-width: 767px) {
	.hero-title {
		font-size: 54px;
	}
}

/* Extra small devices */
@media (max-width: 575px) {
	.hero-style1 .title-img {
		right: 3%;
	}
	.hero-title {
		font-size: 42px;
		line-height: 1.24;
		margin-bottom: 20px;
	}
}

@media (max-width: 390px) {
	.hero-title {
		font-size: 36px;
		line-height: 1.3;
	}
}

@media (max-width: 330px) {
	.hero-title {
		font-size: 32px;
	}
}

/*------------------- 4.00. Category -------------------*/
/* Category Card -------------------------------------*/
.category-card {
	background-color: var(--smoke-color2);
	padding: 40px 15px 45px 15px;
	text-align: center;
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

.category-card .box-shape {
	position: absolute;
	inset: 2px;
	pointer-events: none;
	background-size: 100% 100%;
}

.category-card .box-icon {
	width: 120px;
	height: 120px;
	line-height: 120px;
	background-color: var(--white-color);
	margin: 0 auto 20px auto;
}

.category-card .box-title {
	font-size: 18px;
	margin-bottom: -0.3em;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.category-card .box-title a:hover {
	color: var(--title-color);
}

.category-card .box-subtitle {
	font-size: 14px;
	font-weight: 500;
	font-family: var(--title-font);
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

.category-card:hover {
	background-color: var(--theme-color);
}

.category-card:hover .box-title {
	color: var(--white-color);
}

.category-card:hover .box-subtitle {
	color: var(--white-color);
}

.category-card:hover .box-icon img {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/*------------------- 4.00. About  -------------------*/
/* About 1 ---------------------------------- */
.img-box1 {
	position: relative;
	z-index: 2;
	text-align: right;
	width: 100%;
}

.img-box2 .img1 img,
.img-box1 .img2 img {
	border-radius: 30px;
}

.img-box1 .img2 {
	display: inline-block;
	position: relative;
	z-index: 2;
}

.img-box1 .img1 {
	position: absolute;
	bottom: 70px;
	left: 0;
	z-index: 1;
}

.img-box1 .shape1 {
	position: absolute;
	bottom: 0;
	right: 45%;
}

.img-box1 .shape1 img {
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
}

.img-box1 .year-counter {
	margin-top: 24px;
	margin-left: auto;
}

/* Large devices */
@media (max-width: 1199px) {
	.img-box1 {
		max-width: 690px;
		margin-left: auto;
		margin-right: auto;
	}
}

.year-counter {
	max-width: 230px;
	text-align: left;
	padding: 30px;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
	border-radius: 30px;
	background-color: var(--white-color);
	position: relative;
	z-index: 3;
}

.year-counter_number {
	font-family: var(--title-font);
	font-size: 70px;
	font-weight: 700;
	color: var(--theme-color);
	line-height: 50px;
	margin-bottom: 20px;
}

.year-counter_text {
	font-family: var(--title-font);
	color: var(--title-color);
	font-size: 22px;
	line-height: 32px;
	font-weight: 700;
	margin-bottom: -0.32em;
	text-transform: uppercase;
}

.about-feature {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 15px;
	background-color: var(--smoke-color2);
	border-radius: 15px;
	padding: 10px 15px;
	max-width: 244px;
	text-align: left;
}

.about-feature-wrap {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 20px 40px;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid var(--th-border-color);
	/* Small devices */
}

@media (max-width: 767px) {
	.about-feature-wrap {
		gap: 20px;
	}
}

.about-feature .box-title {
	font-size: 18px;
	line-height: 26px;
	margin-top: -0.34em;
	margin-bottom: -0.34em;
}

/*------------------- 4.00. CTA -------------------*/
.offer-card {
	padding: 70px 40px;
	border-radius: 30px;
	background-position: top left;
	/* Extra small devices */
	/* Extra small devices */
}

.mega-hover {
	position: relative;
	overflow: hidden;
	z-index: 2;
}

.mega-hover:after,
.mega-hover:before {
	content: "";
	position: absolute;
	pointer-events: none;
	opacity: 1;
	z-index: -1;
}

.mega-hover:before {
	top: 0;
	right: 51%;
	bottom: 0;
	left: 50%;
	background: rgba(255, 255, 255, 0.2);
}

.mega-hover:after {
	top: 50%;
	right: 0;
	bottom: 50%;
	left: 0;
	background: rgba(255, 255, 255, 0.3);
}

.mega-hover:hover:before {
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 900ms linear;
	transition: all 900ms linear;
}

.mega-hover:hover:after {
	top: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: all 900ms linear;
	transition: all 900ms linear;
}

.th-product {
	text-align: center;
	-webkit-transition: all ease 0.4s;
	transition: all ease 0.4s;
	background-color: var(--white-color);
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	padding: 18px;
}

.th-product .product-title {
	font-size: 22px;
	margin: 4px 0 6px 0;
	font-weight: 500;
}

.th-product .product-title a {
	color: inherit;
}

.th-product .product-title a:hover {
	color: var(--theme-color);
}

.th-product .product-category {
	color: var(--body-color);
	margin-bottom: 0px;
	display: block;
}

.th-product .product-category:hover {
	color: var(--theme-color);
}

.th-product .product-tag {
	font-size: 14px;
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: var(--theme-color);
	color: var(--white-color);
	padding: 0 12px;
	min-width: 60px;
	z-index: 3;
	border-radius: 5px;
	line-height: 24px;
}
.th-product .star-rating {
	margin: 0 auto 0 auto;
	width: 93px;
}

.th-product .price {
	display: block;
	color: var(--body-color);
	font-weight: 500;
	margin-bottom: -0.4em;
	font-family: var(--body-font);
}

.th-product .price del {
	margin-left: 10px;
	color: #a9a9a9;
}

.th-product .product-img {
	--space: 0px;
	background-color: var(--smoke-color);
	overflow: hidden;
	position: relative;
	margin: 0 0 23px 0;
	text-align: center;
	background-color: var(--smoke-color);
	z-index: 2;
	border-radius: 12px;
}

.th-product .product-img:before {
	--space: 0px;
	content: "";
	height: calc(100% - var(--space) * 2);
	width: calc(100% - var(--space) * 2);
	border-radius: inherit;
	position: absolute;
	top: var(--space);
	left: var(--space);
	background-color: var(--theme-color);
	z-index: 1;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

.th-product .product-img img {
	width: 100%;
	-webkit-transition: all ease 0.4s;
	transition: all ease 0.4s;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.th-product .actions {
	height: 100%;
	position: absolute;
	top: 5px;
	right: 10px;
	text-align: center;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: grid;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	width: 40px;
}

.th-product .actions .icon-btn {
	--btn-size: 40px;
	font-size: 14px;
	border-color: var(--white-color);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	color: var(--title-color);
	border-radius: 99px;
	margin-bottom: 10px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
}

.th-product .actions .icon-btn:hover {
	color: var(--white-color);
	border-color: var(--theme-color);
}

.th-product .actions > * {
	margin: 0 0;
}

.th-product .actions > * > a {
	margin: 0;
}
